pytest
pytest-timeout
pytest-cov
requests
requests-mock
httpx
flask
numpy
pandas
polars
aiohttp
pydantic
joblib
cloudpickle
hypothesis>=6.90.0
pytest-asyncio
iniconfig
tomli

flake8
bandit
ruff
mypy
pip-audit
